body{
    text-align: center;
   background-color: crimson;
}
#first{
    height: 400;
    width: 700;
}
#second{
    height: 400;
    width: 700;
}
#third{
    height: 400;
    width: 700;
}
#fourth{
    height: 400;
    width: 700;
}
